<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Darshika Vats- Web developer</title>

    <!-- Bootstrap - CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/assets/Portfolio.css">


</head>

<body>
    <nav>
        <span class="logo">&lt;<span id="logo-text">PORTFOLIO</span>&gt;</span>
        <span class="right-nav">
            <a href="#Home">Home</a>
            <a href="#About">About</a>
            <a href="#Projects">Work</a>
            <a href="#Contact">Contact</a>
        </span>
    </nav>
    <main id="Home">
        <p>Hello, I'm <span> Darshika Vats</span></p>
        <p>I'm a web developer</p>
        <a href="#About">Know more <span>&#8594;</span> <span>&#8595;</span></a>
        <p></p>
    </main>
    <section class="about" id="About">
        <h1>ABOUT</h1>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <h3>Education</h3>
                <div class="timeline-area">
                    <div class="">
                        <p><b>Master of Computer Applications (Present)</b></p>
                        <p>Guru Gobind Indraprastha University</p>
                        <p>7.714 CGPA</p>
                    </div>
                    <div class="">
                        <p><b>BSc Computer Science (2019-2022)</b></p>
                        <p>University Of Delhi</p>
                        <p>8.697 CGPA</p>
                    </div>
                    <div class="">
                        <p><b>Senior Secondary (2018-2019)</b></p>
                        <p>Maria School Jaspur</p>
                        <p>86.5%</p>
                    </div>
                    <div class="">
                        <p><b>Secondary (2016-2017)</b></p>
                        <p>Maria School Jaspur</p>
                        <p>85.2%</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h3>Skills</h3>
                <div class="skill1">
                    <i class="fa-brands fa-html5"></i>
                    <i class="fa-brands fa-css3"></i>
                </div>
                <div class="skill2">
                    <i class="fa-brands fa-bootstrap"></i>
                    <i class="fa-brands fa-js"></i>
                </div>
            </div>
            <div class="col-md-4">
                <h3>Experience</h3>
                <div class="timeline-area">
                    <div class="">
                        <p><b>Web Developer (Apr 2022 - May 2022)</b></p>
                        <p>The Digital Torque</p>
                    </div>
                    <div class="">
                        <p><b>Joint Secretary (2020-2021)</b></p>
                        <p>Websters</p>
                    </div>
                    <div class="">
                        <p><b>Project Manager (May 2021 - Jun 2021)</b></p>
                        <p>Kind Beings</p>
                    </div>
                </div>
            </div>

        </div>

    </section>
    <section class="project" id="Projects">
        <h1>WORK</h1>
        <hr>
        <div class="container">
            <div class="row">
                <div class="col col-md-6">
                    <div class="card h-100">
                        <img src="/assets/Images/Capture.PNG" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Ebook</h5>
                            <p class="card-text">This E-commerce website is basically an online library. Here,
                                You
                                can search and buy hundreds of fiction and non-fiction books.</p>
                        </div>
                    </div>
                </div>
                <div class="col col-md-6">
                    <div class="card h-100">
                        <img src="/assets/Images/Capture1.PNG" class="card-img-top">
                        <div class="card-body">
                            <a href="https://github.com/vatsdarshika/DeathNote_World-Fan_Fiction.git" target="_blank" style="text-decoration: none;""><h5 class="card-title">Death Note</h5></a>
                            <p class="card-text">This website is based on a Japanese manga series "Death Note". Here,
                                You
                                can get all the information regarding this anime and watch it for free.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="contact" id="Contact">
        <h1>CONTACT</h1>
        <hr>
        <div class="form">
            <table>
                <tr>
                    <td>
                        <input type="text" placeholder="Name" class="myName" id="myName">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" placeholder="Email" class="myEmail" id="myEmail">
                    </td>
                </tr>
                <tr>
                    <td>
                        <textarea name="textarea" placeholder="Message" rows="5" cols="52"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit">
                    </td>
                </tr>
            </table>
    </section>
    <div class="links">
        <a href="https://github.com/vatsdarshika" target="_blank"><i class="fa-brands fa-github"></i></a>&nbsp;
        <a href="vatsdarshika0806@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i></a>&nbsp;
        <a href="https://www.linkedin.com/in/darshika-vats" target="_blank"><i class="fa-brands fa-linkedin"></i></a>&nbsp;
        <a href="tel:+919084289520"><i class="fa-solid fa-square-phone-flip"></i></a>
    </div>
    </div>

    <footer>
        DARSHIKA VATS&nbsp;<i class="fa-solid fa-copyright"></i>&nbsp;2022. ALL RIGHTS RESERVED.
    </footer>

    <!-- Bootsrap - JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
</body>

</html>